In [1]:
import pandas as pd
import numpy as np

In [2]:
train_df = pd.read_csv(r'C:\Users\Vamshikrishna\Desktop\dataset\train.csv')

In [3]:
train_df.head()

,customer_id,Name,age,gender,security_no,region_category,membership_category,joining_date,joined_through_referral,referral_id,...,avg_time_spent,avg_transaction_value,avg_frequency_login_days,points_in_wallet,used_special_discount,offer_application_preference,past_complaint,complaint_status,feedback,churn_risk_score
0,fffe4300490044003600300030003800,Pattie Morrisey,18,F,XW0DQ7H,Village,Platinum Membership,2017-08-17,No,xxxxxxxx,...,300.63,53005.25,17.0,781.75,Yes,Yes,No,Not Applicable,Products always in Stock,2
1,fffe43004900440032003100300035003700,Traci Peery,32,F,5K0N3X1,City,Premium Membership,2017-08-28,?,CID21329,...,306.34,12838.38,10.0,NaN,Yes,No,Yes,Solved,Quality Customer Care,1
2,fffe4300490044003100390032003600,Merideth Mcmeen,44,F,1F2TCL3,Town,No Membership,2016-11-11,Yes,CID12313,...,516.16,21027.00,22.0,500.69,No,Yes,Yes,Solved in Follow-up,Poor Website,5
3,fffe43004900440036003000330031003600,Eufemia Cardwell,37,M,VJGJ33N,City,No Membership,2016-10-29,Yes,CID3793,...,53.27,25239.56,6.0,567.66,No,Yes,Yes,Unsolved,Poor Website,5
4,fffe43004900440031003900350030003600,Meghan Kosak,31,F,SVZXCWB,City,No Membership,2017-09-12,No,xxxxxxxx,...,113.13,24483.66,16.0,663.06,No,Yes,Yes,Solved,Poor Website,5

In [4]:
test_df = pd.read_csv(r'C:\Users\Vamshikrishna\Desktop\dataset\test.csv')

In [5]:
test_df.head()

,customer_id,Name,age,gender,security_no,region_category,membership_category,joining_date,joined_through_referral,referral_id,...,days_since_last_login,avg_time_spent,avg_transaction_value,avg_frequency_login_days,points_in_wallet,used_special_discount,offer_application_preference,past_complaint,complaint_status,feedback
0,fffe43004900440031003700300030003400,Alethia Meints,50,F,OQJ1XAY,Village,Premium Membership,2015-11-02,No,xxxxxxxx,...,12,386.26,40721.44,7.0,733.830000,Yes,No,No,Not Applicable,Poor Product Quality
1,fffe43004900440031003900370037003300,Ming Lopez,41,M,OUQRPKO,Village,Gold Membership,2016-03-01,No,xxxxxxxx,...,11,37.80,9644.40,9.0,726.000000,Yes,No,No,Not Applicable,Poor Website
2,fffe43004900440034003800360037003000,Carina Flannigan,31,F,02J2RE7,Town,Silver Membership,2017-03-03,No,xxxxxxxx,...,18,215.36,3693.25,21.0,713.780000,Yes,No,Yes,Solved in Follow-up,No reason specified
3,fffe43004900440036003200370033003400,Kyung Wanner,64,M,5YEQIF1,Town,Silver Membership,2017-08-18,Yes,CID8941,...,-999,44.57,36809.56,11.0,744.970000,Yes,No,Yes,No Information Available,Too many ads
4,fffe43004900440035003000370031003900,Enola Gatto,16,F,100RYB5,Town,No Membership,2015-05-05,Yes,CID5690,...,6,349.88,40675.86,8.0,299.048351,No,Yes,Yes,Solved in Follow-up,Poor Website

In [6]:
train_df.info()
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36992 entries, 0 to 36991
Data columns (total 25 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   customer_id                   36992 non-null  object
 1   Name                          36992 non-null  object
 2   age                           36992 non-null  int64
 3   gender                        36992 non-null  object
 4   security_no                   36992 non-null  object
 5   region_category               31564 non-null  object
 6   membership_category           36992 non-null  object
 7   joining_date                  36992 non-null  object
 8   joined_through_referral       36992 non-null  object
 9   referral_id                   36992 non-null  object
 10  preferred_offer_types         36704 non-null  object
 11  medium_of_operation           36992 non-null  object
 12  internet_option               36992 non-null  object
 13  last_visit_time               36992 non-null  object
 14  days_since_last_login         36992 non-null  int64
 15  avg_time_spent                36992 non-null  float64
 16  avg_transaction_value         36992 non-null  float64
 17  avg_frequency_login_days      36992 non-null  object
 18  points_in_wallet              33549 non-null  float64
 19  used_special_discount         36992 non-null  object
 20  offer_application_preference  36992 non-null  object
 21  past_complaint                36992 non-null  object
 22  complaint_status              36992 non-null  object
 23  feedback                      36992 non-null  object
 24  churn_risk_score              36992 non-null  int64
dtypes: float64(3), int64(3), object(19)
memory usage: 7.1+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19919 entries, 0 to 19918
Data columns (total 24 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   customer_id                   19919 non-null  object
 1   Name                          19919 non-null  object
 2   age                           19919 non-null  int64
 3   gender                        19919 non-null  object
 4   security_no                   19919 non-null  object
 5   region_category               16971 non-null  object
 6   membership_category           19919 non-null  object
 7   joining_date                  19919 non-null  object
 8   joined_through_referral       19919 non-null  object
 9   referral_id                   19919 non-null  object
 10  preferred_offer_types         19760 non-null  object
 11  medium_of_operation           19919 non-null  object
 12  internet_option               19919 non-null  object
 13  last_visit_time               19919 non-null  object
 14  days_since_last_login         19919 non-null  int64
 15  avg_time_spent                19919 non-null  float64
 16  avg_transaction_value         19919 non-null  float64
 17  avg_frequency_login_days      19919 non-null  object
 18  points_in_wallet              17956 non-null  float64
 19  used_special_discount         19919 non-null  object
 20  offer_application_preference  19919 non-null  object
 21  past_complaint                19919 non-null  object
 22  complaint_status              19919 non-null  object
 23  feedback                      19919 non-null  object
dtypes: float64(3), int64(2), object(19)
memory usage: 3.6+ MB

In [7]:
train_df['churn_risk_score'].unique()

array([ 2,  1,  5,  3,  4, -1], dtype=int64)

In [8]:
train_df.isnull().sum()

customer_id                        0
Name                               0
age                                0
gender                             0
security_no                        0
region_category                 5428
membership_category                0
joining_date                       0
joined_through_referral            0
referral_id                        0
preferred_offer_types            288
medium_of_operation                0
internet_option                    0
last_visit_time                    0
days_since_last_login              0
avg_time_spent                     0
avg_transaction_value              0
avg_frequency_login_days           0
points_in_wallet                3443
used_special_discount              0
offer_application_preference       0
past_complaint                     0
complaint_status                   0
feedback                           0
churn_risk_score                   0
dtype: int64

In [9]:
for col in test_df.columns:
    if train_df[col].isnull().sum()!=0 or test_df[col].isnull().sum()!=0:
        if train_df[col].dtype=='int64':
            value=int(np.mean(train_df[col]))
            train_df[col].fillna(value,inplace=True)
            test_df[col].fillna(value,inplace=True)
        elif train_df[col].dtype=='float64':
            value=np.mean(train_df[col])
            train_df[col].fillna(value,inplace=True)
            test_df[col].fillna(value,inplace=True)
        else:
            train_df[col].fillna('None', inplace=True)
            test_df[col].fillna('None', inplace=True)

In [10]:
train_df.isnull().sum()

customer_id                     0
Name                            0
age                             0
gender                          0
security_no                     0
region_category                 0
membership_category             0
joining_date                    0
joined_through_referral         0
referral_id                     0
preferred_offer_types           0
medium_of_operation             0
internet_option                 0
last_visit_time                 0
days_since_last_login           0
avg_time_spent                  0
avg_transaction_value           0
avg_frequency_login_days        0
points_in_wallet                0
used_special_discount           0
offer_application_preference    0
past_complaint                  0
complaint_status                0
feedback                        0
churn_risk_score                0
dtype: int64

In [11]:
test_df.isnull().sum()

customer_id                     0
Name                            0
age                             0
gender                          0
security_no                     0
region_category                 0
membership_category             0
joining_date                    0
joined_through_referral         0
referral_id                     0
preferred_offer_types           0
medium_of_operation             0
internet_option                 0
last_visit_time                 0
days_since_last_login           0
avg_time_spent                  0
avg_transaction_value           0
avg_frequency_login_days        0
points_in_wallet                0
used_special_discount           0
offer_application_preference    0
past_complaint                  0
complaint_status                0
feedback                        0
dtype: int64

In [12]:
train_df.shape

(36992, 25)

In [13]:
train_df = train_df.drop(labels=['customer_id','Name', 'security_no', 'referral_id'],axis=1)
test_df = test_df.drop(labels=['customer_id','Name', 'security_no', 'referral_id'],axis=1)

In [14]:
train_df.shape

(36992, 21)

In [15]:
type(train_df['joining_date'][0])

str

In [16]:
def add_dates(data):
    df=data
    day=[]
    month=[]
    year=[]
    for i in range (len(data)):
        year.append(int(data['joining_date'][i][:4]))
        month.append(int(data['joining_date'][i][5:7]))
        day.append(int(data['joining_date'][i][8:10]))
    df['day'] = day
    df['month']=month
    df['year']=year
    return df

In [17]:
train_1=add_dates(train_df)
test_1=add_dates(test_df)

In [18]:
train_1.drop('joining_date',1,inplace=True)
test_1.drop('joining_date',1,inplace=True)

train_1.head()

In [19]:
test_1.head()

,age,gender,region_category,membership_category,joined_through_referral,preferred_offer_types,medium_of_operation,internet_option,last_visit_time,days_since_last_login,...,avg_frequency_login_days,points_in_wallet,used_special_discount,offer_application_preference,past_complaint,complaint_status,feedback,day,month,year
0,50,F,Village,Premium Membership,No,Without Offers,Smartphone,Wi-Fi,07:19:30,12,...,7.0,733.830000,Yes,No,No,Not Applicable,Poor Product Quality,2,11,2015
1,41,M,Village,Gold Membership,No,Without Offers,Desktop,Fiber_Optic,22:21:16,11,...,9.0,726.000000,Yes,No,No,Not Applicable,Poor Website,1,3,2016
2,31,F,Town,Silver Membership,No,Gift Vouchers/Coupons,Both,Mobile_Data,16:40:39,18,...,21.0,713.780000,Yes,No,Yes,Solved in Follow-up,No reason specified,3,3,2017
3,64,M,Town,Silver Membership,Yes,Credit/Debit Card Offers,?,Fiber_Optic,14:56:17,-999,...,11.0,744.970000,Yes,No,Yes,No Information Available,Too many ads,18,8,2017
4,16,F,Town,No Membership,Yes,Without Offers,Smartphone,Mobile_Data,02:57:53,6,...,8.0,299.048351,No,Yes,Yes,Solved in Follow-up,Poor Website,5,5,2015

In [20]:
def add_time(data):
    df=data
    hour=[]
    mint=[]
    sec=[]
    for i in range (len(data)):
        hour.append(int(data['last_visit_time'][i][:2]))
        mint.append(int(data['last_visit_time'][i][3:5]))
        sec.append(int(data['last_visit_time'][i][6:8]))
    data['hour'] = hour
    data['minute'] = mint
    data['sec'] = sec
    data.drop('last_visit_time',1,inplace=True)
    return df

In [21]:
train = add_time(train_1)
test = add_time(test_1)

In [22]:
train.head()

,age,gender,region_category,membership_category,joined_through_referral,preferred_offer_types,medium_of_operation,internet_option,days_since_last_login,avg_time_spent,...,past_complaint,complaint_status,feedback,churn_risk_score,day,month,year,hour,minute,sec
0,18,F,Village,Platinum Membership,No,Gift Vouchers/Coupons,?,Wi-Fi,17,300.63,...,No,Not Applicable,Products always in Stock,2,17,8,2017,16,8,2
1,32,F,City,Premium Membership,?,Gift Vouchers/Coupons,Desktop,Mobile_Data,16,306.34,...,Yes,Solved,Quality Customer Care,1,28,8,2017,12,38,13
2,44,F,Town,No Membership,Yes,Gift Vouchers/Coupons,Desktop,Wi-Fi,14,516.16,...,Yes,Solved in Follow-up,Poor Website,5,11,11,2016,22,53,21
3,37,M,City,No Membership,Yes,Gift Vouchers/Coupons,Desktop,Mobile_Data,11,53.27,...,Yes,Unsolved,Poor Website,5,29,10,2016,15,57,50
4,31,F,City,No Membership,No,Credit/Debit Card Offers,Smartphone,Mobile_Data,20,113.13,...,Yes,Solved,Poor Website,5,12,9,2017,15,46,44

In [23]:
for col in test_1.columns:
    if train_1[col].dtype=='object':
        print(col)

gender
region_category
membership_category
joined_through_referral
preferred_offer_types
medium_of_operation
internet_option
avg_frequency_login_days
used_special_discount
offer_application_preference
past_complaint
complaint_status
feedback

In [24]:
for col in test.columns:
    if train[col].dtype=='object':
        if train[col].nunique()>20:
            train.drop(col,1,inplace=True)
            test.drop(col,1,inplace=True)
        else:
            k=0
            for val in train[col].value_counts().index:
                train[col].replace(val,k,inplace=True)
                test[col].replace(val,k,inplace=True)
                k+=1

In [25]:
train.head()

,age,gender,region_category,membership_category,joined_through_referral,preferred_offer_types,medium_of_operation,internet_option,days_since_last_login,avg_time_spent,...,past_complaint,complaint_status,feedback,churn_risk_score,day,month,year,hour,minute,sec
0,18,0,3,5,0,0,2,0,17,300.63,...,0,0,7,2,17,8,2017,16,8,2
1,32,0,1,4,2,0,0,1,16,306.34,...,1,2,8,1,28,8,2017,12,38,13
2,44,0,0,1,1,0,0,0,14,516.16,...,1,3,3,5,11,11,2016,22,53,21
3,37,1,1,1,1,0,0,1,11,53.27,...,1,1,3,5,29,10,2016,15,57,50
4,31,0,1,1,0,1,1,1,20,113.13,...,1,2,3,5,12,9,2017,15,46,44

In [26]:
X_train = train.drop('churn_risk_score',1)
y_train = train['churn_risk_score']
X_test = test

In [27]:
X_train.shape, X_test.shape,y_train.shape

((36992, 23), (19919, 23), (36992,))

In [35]:
def create_submission(test,model, file_name):
    y_pred=model.predict(X_test)
    y_pred=y_pred.reshape(y_pred.shape[0])
    y_pred=y_pred.tolist()
    subs = pd.DataFrame({'customer_id':test_df['customer_id'],'churn_risk_score':y_pred})
    subs.to_csv('file_name', index=False)

In [36]:
def train_model(epochs,df,model):
    for i in range(epochs):
        print('Epochs',i+1,' Initiated........')
        func=model
        df=train_1.sample(frac=0.8)
        x_train = df.drop('churn_risk_score',1)
        y_train = df['churn_risk_score']
        func.fit(x_train,y_train)
        print('Accuracy over this random data: ' ,func.score(x_train, y_train))
    return model

In [37]:
X_test.head()

,age,gender,region_category,membership_category,joined_through_referral,preferred_offer_types,medium_of_operation,internet_option,days_since_last_login,avg_time_spent,...,offer_application_preference,past_complaint,complaint_status,feedback,day,month,year,hour,minute,sec
0,50,0,3,4,0,2,1,0,12,386.26,...,1,0,0,0,2,11,2015,7,19,30
1,41,1,3,2,0,2,0,2,11,37.80,...,1,0,0,3,1,3,2016,22,21,16
2,31,0,0,3,0,0,3,1,18,215.36,...,1,1,3,1,3,3,2017,16,40,39
3,64,1,0,3,1,1,2,2,-999,44.57,...,1,1,4,2,18,8,2017,14,56,17
4,16,0,0,1,1,2,1,1,6,349.88,...,0,1,3,3,5,5,2015,2,57,53

In [38]:
from sklearn.ensemble import RandomForestClassifier as rfc

In [39]:
df1 = X_train.drop(labels=['joined_through_referral','year','month','minute', 'sec'],axis=1)
df2 = X_test.drop(labels=['joined_through_referral','year','month', 'minute','sec'],axis=1)

In [41]:
model = rfc(random_state=0, n_jobs=2, n_estimators=700, verbose=2)
model.fit(df1,y_train)
print(model.score(df1,y_train))
y_pred = model.predict(df2)
subs=pd.DataFrame({'customer_id':test_df['customer_id'][:10],'churn_risk_score':y_pred[:10]})
subs.to_csv('submission_rfc.csv',index=False)

[Parallel(n_jobs=2)]: Using backend ThreadingBackend with 2 concurrent workers.

building tree 1 of 700
building tree 2 of 700
building tree 3 of 700
building tree 4 of 700
building tree 5 of 700
building tree 6 of 700
building tree 7 of 700
building tree 8 of 700
building tree 9 of 700
building tree 10 of 700
building tree 11 of 700
building tree 12 of 700
building tree 13 of 700
building tree 14 of 700
building tree 15 of 700
building tree 16 of 700
building tree 17 of 700
building tree 18 of 700
building tree 19 of 700
building tree 20 of 700
building tree 21 of 700
building tree 22 of 700
building tree 23 of 700
building tree 24 of 700
building tree 25 of 700
building tree 26 of 700
building tree 27 of 700
building tree 28 of 700
building tree 29 of 700
building tree 30 of 700
building tree 31 of 700
building tree 32 of 700
building tree 33 of 700
building tree 34 of 700
building tree 35 of 700
building tree 36 of 700
building tree 37 of 700
building tree 38 of 700
building tree 39 of 700
building tree 40 of 700

[Parallel(n_jobs=2)]: Done  37 tasks      | elapsed:    2.3s

building tree 41 of 700
building tree 42 of 700
building tree 43 of 700
building tree 44 of 700
building tree 45 of 700
building tree 46 of 700
building tree 47 of 700
building tree 48 of 700
building tree 49 of 700
building tree 50 of 700
building tree 51 of 700
building tree 52 of 700
building tree 53 of 700
building tree 54 of 700
building tree 55 of 700
building tree 56 of 700
building tree 57 of 700
building tree 58 of 700
building tree 59 of 700
building tree 60 of 700
building tree 61 of 700
building tree 62 of 700
building tree 63 of 700
building tree 64 of 700
building tree 65 of 700
building tree 66 of 700
building tree 67 of 700
building tree 68 of 700
building tree 69 of 700
building tree 70 of 700
building tree 71 of 700
building tree 72 of 700
building tree 73 of 700
building tree 74 of 700
building tree 75 of 700
building tree 76 of 700
building tree 77 of 700
building tree 78 of 700
building tree 79 of 700
building tree 80 of 700
building tree 81 of 700
building tree 82 of 700
building tree 83 of 700
building tree 84 of 700
building tree 85 of 700
building tree 86 of 700
building tree 87 of 700
building tree 88 of 700
building tree 89 of 700
building tree 90 of 700
building tree 91 of 700
building tree 92 of 700
building tree 93 of 700
building tree 94 of 700
building tree 95 of 700
building tree 96 of 700
building tree 97 of 700
building tree 98 of 700
building tree 99 of 700
building tree 100 of 700
building tree 101 of 700
building tree 102 of 700
building tree 103 of 700
building tree 104 of 700
building tree 105 of 700
building tree 106 of 700
building tree 107 of 700
building tree 108 of 700
building tree 109 of 700
building tree 110 of 700
building tree 111 of 700
building tree 112 of 700
building tree 113 of 700
building tree 114 of 700
building tree 115 of 700
building tree 116 of 700
building tree 117 of 700
building tree 118 of 700
building tree 119 of 700
building tree 120 of 700
building tree 121 of 700
building tree 122 of 700
building tree 123 of 700
building tree 124 of 700
building tree 125 of 700
building tree 126 of 700
building tree 127 of 700
building tree 128 of 700
building tree 129 of 700
building tree 130 of 700
building tree 131 of 700
building tree 132 of 700
building tree 133 of 700
building tree 134 of 700
building tree 135 of 700
building tree 136 of 700
building tree 137 of 700
building tree 138 of 700
building tree 139 of 700
building tree 140 of 700
building tree 141 of 700
building tree 142 of 700
building tree 143 of 700
building tree 144 of 700
building tree 145 of 700
building tree 146 of 700
building tree 147 of 700
building tree 148 of 700
building tree 149 of 700
building tree 150 of 700
building tree 151 of 700
building tree 152 of 700
building tree 153 of 700
building tree 154 of 700
building tree 155 of 700
building tree 156 of 700
building tree 157 of 700
building tree 158 of 700
building tree 159 of 700
building tree 160 of 700

[Parallel(n_jobs=2)]: Done 158 tasks      | elapsed:    9.2s

building tree 161 of 700
building tree 162 of 700
building tree 163 of 700
building tree 164 of 700
building tree 165 of 700
building tree 166 of 700
building tree 167 of 700
building tree 168 of 700
building tree 169 of 700
building tree 170 of 700
building tree 171 of 700
building tree 172 of 700
building tree 173 of 700
building tree 174 of 700
building tree 175 of 700
building tree 176 of 700
building tree 177 of 700
building tree 178 of 700
building tree 179 of 700
building tree 180 of 700
building tree 181 of 700
building tree 182 of 700
building tree 183 of 700
building tree 184 of 700
building tree 185 of 700
building tree 186 of 700
building tree 187 of 700
building tree 188 of 700
building tree 189 of 700
building tree 190 of 700
building tree 191 of 700
building tree 192 of 700
building tree 193 of 700
building tree 194 of 700
building tree 195 of 700
building tree 196 of 700
building tree 197 of 700
building tree 198 of 700
building tree 199 of 700
building tree 200 of 700
building tree 201 of 700
building tree 202 of 700
building tree 203 of 700
building tree 204 of 700
building tree 205 of 700
building tree 206 of 700
building tree 207 of 700
building tree 208 of 700
building tree 209 of 700
building tree 210 of 700
building tree 211 of 700
building tree 212 of 700
building tree 213 of 700
building tree 214 of 700
building tree 215 of 700
building tree 216 of 700
building tree 217 of 700
building tree 218 of 700
building tree 219 of 700
building tree 220 of 700
building tree 221 of 700
building tree 222 of 700
building tree 223 of 700
building tree 224 of 700
building tree 225 of 700
building tree 226 of 700
building tree 227 of 700
building tree 228 of 700
building tree 229 of 700
building tree 230 of 700
building tree 231 of 700
building tree 232 of 700
building tree 233 of 700
building tree 234 of 700
building tree 235 of 700
building tree 236 of 700
building tree 237 of 700
building tree 238 of 700
building tree 239 of 700
building tree 240 of 700
building tree 241 of 700
building tree 242 of 700
building tree 243 of 700
building tree 244 of 700
building tree 245 of 700
building tree 246 of 700
building tree 247 of 700
building tree 248 of 700
building tree 249 of 700
building tree 250 of 700
building tree 251 of 700
building tree 252 of 700
building tree 253 of 700
building tree 254 of 700
building tree 255 of 700
building tree 256 of 700
building tree 257 of 700
building tree 258 of 700
building tree 259 of 700
building tree 260 of 700
building tree 261 of 700
building tree 262 of 700
building tree 263 of 700
building tree 264 of 700
building tree 265 of 700
building tree 266 of 700
building tree 267 of 700
building tree 268 of 700
building tree 269 of 700
building tree 270 of 700
building tree 271 of 700
building tree 272 of 700
building tree 273 of 700
building tree 274 of 700
building tree 275 of 700
building tree 276 of 700
building tree 277 of 700
building tree 278 of 700
building tree 279 of 700
building tree 280 of 700
building tree 281 of 700
building tree 282 of 700
building tree 283 of 700
building tree 284 of 700
building tree 285 of 700
building tree 286 of 700
building tree 287 of 700
building tree 288 of 700
building tree 289 of 700
building tree 290 of 700
building tree 291 of 700
building tree 292 of 700
building tree 293 of 700
building tree 294 of 700
building tree 295 of 700
building tree 296 of 700
building tree 297 of 700
building tree 298 of 700
building tree 299 of 700
building tree 300 of 700
building tree 301 of 700
building tree 302 of 700
building tree 303 of 700
building tree 304 of 700
building tree 305 of 700
building tree 306 of 700
building tree 307 of 700
building tree 308 of 700
building tree 309 of 700
building tree 310 of 700
building tree 311 of 700
building tree 312 of 700
building tree 313 of 700
building tree 314 of 700
building tree 315 of 700
building tree 316 of 700
building tree 317 of 700
building tree 318 of 700
building tree 319 of 700
building tree 320 of 700
building tree 321 of 700
building tree 322 of 700
building tree 323 of 700
building tree 324 of 700
building tree 325 of 700
building tree 326 of 700
building tree 327 of 700
building tree 328 of 700
building tree 329 of 700
building tree 330 of 700
building tree 331 of 700
building tree 332 of 700
building tree 333 of 700
building tree 334 of 700
building tree 335 of 700
building tree 336 of 700building tree 337 of 700

building tree 338 of 700
building tree 339 of 700
building tree 340 of 700
building tree 341 of 700
building tree 342 of 700
building tree 343 of 700
building tree 344 of 700
building tree 345 of 700
building tree 346 of 700
building tree 347 of 700
building tree 348 of 700
building tree 349 of 700
building tree 350 of 700
building tree 351 of 700
building tree 352 of 700
building tree 353 of 700
building tree 354 of 700
building tree 355 of 700
building tree 356 of 700
building tree 357 of 700
building tree 358 of 700
building tree 359 of 700
building tree 360 of 700
building tree 361 of 700
building tree 362 of 700
building tree 363 of 700
building tree 364 of 700
building tree 365 of 700

[Parallel(n_jobs=2)]: Done 361 tasks      | elapsed:   20.9s

building tree 366 of 700
building tree 367 of 700
building tree 368 of 700
building tree 369 of 700
building tree 370 of 700
building tree 371 of 700
building tree 372 of 700
building tree 373 of 700
building tree 374 of 700
building tree 375 of 700
building tree 376 of 700
building tree 377 of 700
building tree 378 of 700
building tree 379 of 700
building tree 380 of 700
building tree 381 of 700
building tree 382 of 700
building tree 383 of 700
building tree 384 of 700
building tree 385 of 700
building tree 386 of 700
building tree 387 of 700
building tree 388 of 700
building tree 389 of 700
building tree 390 of 700
building tree 391 of 700
building tree 392 of 700
building tree 393 of 700
building tree 394 of 700
building tree 395 of 700
building tree 396 of 700
building tree 397 of 700
building tree 398 of 700
building tree 399 of 700
building tree 400 of 700
building tree 401 of 700
building tree 402 of 700
building tree 403 of 700
building tree 404 of 700
building tree 405 of 700
building tree 406 of 700
building tree 407 of 700
building tree 408 of 700
building tree 409 of 700
building tree 410 of 700
building tree 411 of 700
building tree 412 of 700
building tree 413 of 700
building tree 414 of 700
building tree 415 of 700
building tree 416 of 700
building tree 417 of 700
building tree 418 of 700
building tree 419 of 700
building tree 420 of 700
building tree 421 of 700
building tree 422 of 700
building tree 423 of 700
building tree 424 of 700
building tree 425 of 700
building tree 426 of 700
building tree 427 of 700
building tree 428 of 700
building tree 429 of 700
building tree 430 of 700
building tree 431 of 700
building tree 432 of 700
building tree 433 of 700
building tree 434 of 700
building tree 435 of 700
building tree 436 of 700
building tree 437 of 700
building tree 438 of 700
building tree 439 of 700
building tree 440 of 700
building tree 441 of 700
building tree 442 of 700
building tree 443 of 700
building tree 444 of 700
building tree 445 of 700
building tree 446 of 700
building tree 447 of 700
building tree 448 of 700
building tree 449 of 700
building tree 450 of 700
building tree 451 of 700
building tree 452 of 700
building tree 453 of 700
building tree 454 of 700
building tree 455 of 700
building tree 456 of 700
building tree 457 of 700
building tree 458 of 700
building tree 459 of 700
building tree 460 of 700
building tree 461 of 700
building tree 462 of 700
building tree 463 of 700
building tree 464 of 700
building tree 465 of 700
building tree 466 of 700
building tree 467 of 700
building tree 468 of 700
building tree 469 of 700
building tree 470 of 700
building tree 471 of 700
building tree 472 of 700
building tree 473 of 700
building tree 474 of 700
building tree 475 of 700
building tree 476 of 700
building tree 477 of 700
building tree 478 of 700
building tree 479 of 700
building tree 480 of 700
building tree 481 of 700
building tree 482 of 700
building tree 483 of 700
building tree 484 of 700
building tree 485 of 700
building tree 486 of 700
building tree 487 of 700
building tree 488 of 700
building tree 489 of 700
building tree 490 of 700
building tree 491 of 700
building tree 492 of 700
building tree 493 of 700
building tree 494 of 700
building tree 495 of 700
building tree 496 of 700
building tree 497 of 700
building tree 498 of 700
building tree 499 of 700
building tree 500 of 700
building tree 501 of 700
building tree 502 of 700
building tree 503 of 700
building tree 504 of 700
building tree 505 of 700
building tree 506 of 700
building tree 507 of 700
building tree 508 of 700
building tree 509 of 700
building tree 510 of 700
building tree 511 of 700
building tree 512 of 700
building tree 513 of 700
building tree 514 of 700
building tree 515 of 700
building tree 516 of 700
building tree 517 of 700
building tree 518 of 700
building tree 519 of 700
building tree 520 of 700
building tree 521 of 700
building tree 522 of 700
building tree 523 of 700
building tree 524 of 700
building tree 525 of 700
building tree 526 of 700
building tree 527 of 700
building tree 528 of 700
building tree 529 of 700
building tree 530 of 700
building tree 531 of 700
building tree 532 of 700
building tree 533 of 700
building tree 534 of 700
building tree 535 of 700
building tree 536 of 700
building tree 537 of 700
building tree 538 of 700
building tree 539 of 700
building tree 540 of 700
building tree 541 of 700
building tree 542 of 700
building tree 543 of 700
building tree 544 of 700
building tree 545 of 700
building tree 546 of 700
building tree 547 of 700
building tree 548 of 700
building tree 549 of 700
building tree 550 of 700
building tree 551 of 700
building tree 552 of 700
building tree 553 of 700
building tree 554 of 700
building tree 555 of 700
building tree 556 of 700
building tree 557 of 700
building tree 558 of 700
building tree 559 of 700
building tree 560 of 700
building tree 561 of 700
building tree 562 of 700
building tree 563 of 700
building tree 564 of 700
building tree 565 of 700
building tree 566 of 700
building tree 567 of 700
building tree 568 of 700
building tree 569 of 700
building tree 570 of 700
building tree 571 of 700
building tree 572 of 700
building tree 573 of 700
building tree 574 of 700
building tree 575 of 700
building tree 576 of 700
building tree 577 of 700
building tree 578 of 700
building tree 579 of 700
building tree 580 of 700
building tree 581 of 700
building tree 582 of 700
building tree 583 of 700
building tree 584 of 700
building tree 585 of 700
building tree 586 of 700building tree 587 of 700

building tree 588 of 700
building tree 589 of 700
building tree 590 of 700
building tree 591 of 700
building tree 592 of 700
building tree 593 of 700
building tree 594 of 700
building tree 595 of 700
building tree 596 of 700
building tree 597 of 700
building tree 598 of 700
building tree 599 of 700
building tree 600 of 700
building tree 601 of 700
building tree 602 of 700
building tree 603 of 700
building tree 604 of 700
building tree 605 of 700
building tree 606 of 700
building tree 607 of 700
building tree 608 of 700
building tree 609 of 700
building tree 610 of 700
building tree 611 of 700
building tree 612 of 700
building tree 613 of 700
building tree 614 of 700
building tree 615 of 700
building tree 616 of 700
building tree 617 of 700
building tree 618 of 700
building tree 619 of 700
building tree 620 of 700
building tree 621 of 700
building tree 622 of 700building tree 623 of 700

building tree 624 of 700
building tree 625 of 700
building tree 626 of 700
building tree 627 of 700
building tree 628 of 700
building tree 629 of 700
building tree 630 of 700
building tree 631 of 700
building tree 632 of 700
building tree 633 of 700
building tree 634 of 700
building tree 635 of 700
building tree 636 of 700
building tree 637 of 700
building tree 638 of 700
building tree 639 of 700
building tree 640 of 700
building tree 641 of 700
building tree 642 of 700
building tree 643 of 700
building tree 644 of 700
building tree 645 of 700
building tree 646 of 700

[Parallel(n_jobs=2)]: Done 644 tasks      | elapsed:   38.2s

building tree 647 of 700
building tree 648 of 700
building tree 649 of 700
building tree 650 of 700
building tree 651 of 700
building tree 652 of 700
building tree 653 of 700
building tree 654 of 700
building tree 655 of 700
building tree 656 of 700
building tree 657 of 700
building tree 658 of 700
building tree 659 of 700
building tree 660 of 700
building tree 661 of 700
building tree 662 of 700
building tree 663 of 700
building tree 664 of 700
building tree 665 of 700
building tree 666 of 700
building tree 667 of 700
building tree 668 of 700
building tree 669 of 700
building tree 670 of 700
building tree 671 of 700
building tree 672 of 700
building tree 673 of 700
building tree 674 of 700
building tree 675 of 700
building tree 676 of 700
building tree 677 of 700
building tree 678 of 700
building tree 679 of 700
building tree 680 of 700
building tree 681 of 700
building tree 682 of 700
building tree 683 of 700
building tree 684 of 700
building tree 685 of 700
building tree 686 of 700
building tree 687 of 700
building tree 688 of 700
building tree 689 of 700
building tree 690 of 700
building tree 691 of 700
building tree 692 of 700
building tree 693 of 700
building tree 694 of 700
building tree 695 of 700
building tree 696 of 700
building tree 697 of 700
building tree 698 of 700
building tree 699 of 700
building tree 700 of 700

[Parallel(n_jobs=2)]: Done 700 out of 700 | elapsed:   42.3s finished
[Parallel(n_jobs=2)]: Using backend ThreadingBackend with 2 concurrent workers.
[Parallel(n_jobs=2)]: Done  37 tasks      | elapsed:    0.2s
[Parallel(n_jobs=2)]: Done 158 tasks      | elapsed:    1.0s
[Parallel(n_jobs=2)]: Done 361 tasks      | elapsed:    2.5s
[Parallel(n_jobs=2)]: Done 644 tasks      | elapsed:    4.7s
[Parallel(n_jobs=2)]: Done 700 out of 700 | elapsed:    5.2s finished
[Parallel(n_jobs=2)]: Using backend ThreadingBackend with 2 concurrent workers.
[Parallel(n_jobs=2)]: Done  37 tasks      | elapsed:    0.1s

1.0

[Parallel(n_jobs=2)]: Done 158 tasks      | elapsed:    0.6s
[Parallel(n_jobs=2)]: Done 361 tasks      | elapsed:    1.4s
[Parallel(n_jobs=2)]: Done 644 tasks      | elapsed:    2.5s
[Parallel(n_jobs=2)]: Done 700 out of 700 | elapsed:    2.7s finished

KeyError: 'customer_id'