In [1]:
import pandas as pd
import numpy as np

In [2]:
train_df = pd.read_csv(r'C:\Users\Vamshikrishna\Desktop\Power Palnt Energy Prediction\TRAIN.csv')
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AT      8000 non-null   float64
 1   V       8000 non-null   float64
 2   AP      8000 non-null   float64
 3   RH      8000 non-null   float64
 4   PE      8000 non-null   float64
dtypes: float64(5)
memory usage: 312.6 KB

In [3]:
test_df = pd.read_csv(r'C:\Users\Vamshikrishna\Desktop\Power Palnt Energy Prediction\TEST.csv')
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1568 entries, 0 to 1567
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AT      1568 non-null   float64
 1   V       1568 non-null   float64
 2   AP      1568 non-null   float64
 3   RH      1568 non-null   float64
dtypes: float64(4)
memory usage: 49.1 KB

In [4]:
train_df.isnull().sum()

AT    0
V     0
AP    0
RH    0
PE    0
dtype: int64

In [5]:
test_df.isnull().sum()

AT    0
V     0
AP    0
RH    0
dtype: int64

In [6]:
train_df.head(20)

       AT      V       AP      RH      PE
0   22.85  60.29  1017.29   61.92  448.58
1   11.75  35.76  1018.99   57.92  473.01
2   12.24  44.90  1020.31   82.22  464.25
3   13.43  40.10  1015.82   87.90  471.77
4    4.65  35.19  1018.23   94.78  489.36
5   13.26  45.51  1015.99   69.82  472.17
6   14.66  41.66  1012.89   62.41  466.87
7    8.35  43.52  1022.78   97.34  479.31
8   29.34  71.98  1005.19   75.19  428.24
9    7.36  40.07  1017.29   52.55  489.45
10  19.26  44.34  1019.45   51.32  467.72
11  16.18  50.88  1014.06  100.09  455.14
12   6.15  40.77  1022.42   88.57  482.49
13  27.49  63.76  1010.09   62.80  436.73
14  12.74  39.13  1008.19   94.81  468.57
15  30.15  70.32  1007.58   54.14  426.80
16  29.53  71.97  1008.60   79.25  434.96
17  31.18  69.04  1008.19   49.72  441.26
18  13.85  41.39  1018.62   75.55  471.45
19  23.64  60.95  1014.92   64.91  447.86

In [30]:
train_df.shape
#test_df.shape

(8000, 5)

In [7]:
X_train = train_df.drop('PE',1)
y_train = train_df['PE']
X_test = test_df

In [10]:
y_train.head()

0    448.58
1    473.01
2    464.25
3    471.77
4    489.36
Name: PE, dtype: float64

In [12]:
from sklearn.linear_model import LinearRegression

In [13]:
lr = LinearRegression()
model = lr.fit(X_train, y_train)

In [15]:
y_pred = model.predict(X_test)

In [37]:
model.score(X_test, y_pred)

1.0

In [16]:
from matplotlib import pyplot as plt

In [28]:
y_pred.shape

(1568,)

In [34]:
y_train.shape

(8000,)

In [ ]:
from sklearn.metrics import r2_score
r2_score()